* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 480px;
  margin-top: 16px;
}

form {
  padding: 16px 0 32px;
  border-bottom: 1px solid #eee;
}

.todo-item {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
